WebApp_views/ProjektGlowny/Service References/LoginService/LoginService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Zedd.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Zedd.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://zedd.azurewebsites.net/LoginService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Zedd.DataAccess" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Zedd.DataAccess" minOccurs="0" name="Unit" nillable="true" type="q1:Unit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
</xs:schema>