WebApp_views/ProjektGlowny/Service References/DataCommandService/DataCommandService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataCommandService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://zedd.azurewebsites.net/DataCommandService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://zedd.azurewebsites.net/DataCommandService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://zedd.azurewebsites.net/DataCommandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Zedd.Dto" />
      <xsd:import schemaLocation="http://zedd.azurewebsites.net/DataCommandService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Zedd" />
      <xsd:import schemaLocation="http://zedd.azurewebsites.net/DataCommandService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Zedd.DataAccess" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataCommandService_AddDeansOffice_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDeansOffice" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddDeansOffice_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDeansOfficeResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddLibrary_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLibrary" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddLibrary_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLibraryResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessage" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEvent" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEventResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddUnit_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUnit" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddUnit_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUnitResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_DeleteUnits_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUnits" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_DeleteUnits_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUnitsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_DeleteDeansOffices_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDeansOffices" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_DeleteDeansOffices_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDeansOfficesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_DeleteEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEvents" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_DeleteEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_DeleteMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMessages" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_DeleteMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_DeleteLibraries_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLibraries" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_DeleteLibraries_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLibrariesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_DeleteUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsers" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_DeleteUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_DeleteDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDepartments" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_DeleteDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_EditUnits_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUnits" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_EditUnits_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUnitsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_EditDeansOffices_InputMessage">
    <wsdl:part name="parameters" element="tns:EditDeansOffices" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_EditDeansOffices_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditDeansOfficesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_EditEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEvents" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_EditEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_EditMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:EditMessages" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_EditMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_EditLibraries_InputMessage">
    <wsdl:part name="parameters" element="tns:EditLibraries" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_EditLibraries_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditLibrariesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_EditUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUsers" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_EditUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AdminEditUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminEditUsers" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AdminEditUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminEditUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_EditDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:EditDepartments" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_EditDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditDepartmentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataCommandService">
    <wsdl:operation name="AddDeansOffice">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/AddDeansOffice" message="tns:IDataCommandService_AddDeansOffice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/AddDeansOfficeResponse" message="tns:IDataCommandService_AddDeansOffice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLibrary">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/AddLibrary" message="tns:IDataCommandService_AddLibrary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/AddLibraryResponse" message="tns:IDataCommandService_AddLibrary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/AddMessage" message="tns:IDataCommandService_AddMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/AddMessageResponse" message="tns:IDataCommandService_AddMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/AddEvent" message="tns:IDataCommandService_AddEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/AddEventResponse" message="tns:IDataCommandService_AddEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUnit">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/AddUnit" message="tns:IDataCommandService_AddUnit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/AddUnitResponse" message="tns:IDataCommandService_AddUnit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/AddUser" message="tns:IDataCommandService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/AddUserResponse" message="tns:IDataCommandService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUnits">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/DeleteUnits" message="tns:IDataCommandService_DeleteUnits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/DeleteUnitsResponse" message="tns:IDataCommandService_DeleteUnits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDeansOffices">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/DeleteDeansOffices" message="tns:IDataCommandService_DeleteDeansOffices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/DeleteDeansOfficesResponse" message="tns:IDataCommandService_DeleteDeansOffices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/DeleteEvents" message="tns:IDataCommandService_DeleteEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/DeleteEventsResponse" message="tns:IDataCommandService_DeleteEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/DeleteMessages" message="tns:IDataCommandService_DeleteMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/DeleteMessagesResponse" message="tns:IDataCommandService_DeleteMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLibraries">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/DeleteLibraries" message="tns:IDataCommandService_DeleteLibraries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/DeleteLibrariesResponse" message="tns:IDataCommandService_DeleteLibraries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/DeleteUsers" message="tns:IDataCommandService_DeleteUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/DeleteUsersResponse" message="tns:IDataCommandService_DeleteUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/DeleteDepartments" message="tns:IDataCommandService_DeleteDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/DeleteDepartmentsResponse" message="tns:IDataCommandService_DeleteDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUnits">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/EditUnits" message="tns:IDataCommandService_EditUnits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/EditUnitsResponse" message="tns:IDataCommandService_EditUnits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditDeansOffices">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/EditDeansOffices" message="tns:IDataCommandService_EditDeansOffices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/EditDeansOfficesResponse" message="tns:IDataCommandService_EditDeansOffices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/EditEvents" message="tns:IDataCommandService_EditEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/EditEventsResponse" message="tns:IDataCommandService_EditEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/EditMessages" message="tns:IDataCommandService_EditMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/EditMessagesResponse" message="tns:IDataCommandService_EditMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditLibraries">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/EditLibraries" message="tns:IDataCommandService_EditLibraries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/EditLibrariesResponse" message="tns:IDataCommandService_EditLibraries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/EditUsers" message="tns:IDataCommandService_EditUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/EditUsersResponse" message="tns:IDataCommandService_EditUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminEditUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/AdminEditUsers" message="tns:IDataCommandService_AdminEditUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/AdminEditUsersResponse" message="tns:IDataCommandService_AdminEditUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/EditDepartments" message="tns:IDataCommandService_EditDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/EditDepartmentsResponse" message="tns:IDataCommandService_EditDepartments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataCommandService" type="tns:IDataCommandService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDeansOffice">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/AddDeansOffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLibrary">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/AddLibrary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/AddMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/AddEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUnit">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/AddUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUnits">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/DeleteUnits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDeansOffices">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/DeleteDeansOffices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvents">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/DeleteEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessages">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/DeleteMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLibraries">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/DeleteLibraries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUsers">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/DeleteUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartments">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/DeleteDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUnits">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/EditUnits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDeansOffices">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/EditDeansOffices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEvents">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/EditEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMessages">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/EditMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditLibraries">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/EditLibraries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUsers">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/EditUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminEditUsers">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/AdminEditUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDepartments">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/EditDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataCommandService">
    <wsdl:port name="BasicHttpBinding_IDataCommandService" binding="tns:BasicHttpBinding_IDataCommandService">
      <soap:address location="http://zedd.azurewebsites.net/DataCommandService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>