WebApp_views/ProjektGlowny/Service References/DataCommandService/DataCommandService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataCommandService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://zedd.azurewebsites.net/DataCommandService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://zedd.azurewebsites.net/DataCommandService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://zedd.azurewebsites.net/DataCommandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Zedd.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataCommandService_AddDeansOffice_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDeansOffice" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddDeansOffice_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDeansOfficeResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddLibrary_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLibrary" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddLibrary_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLibraryResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessage" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEvent" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEventResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddUnit_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUnit" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddUnit_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUnitResponse" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IDataCommandService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataCommandService">
    <wsdl:operation name="AddDeansOffice">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/AddDeansOffice" message="tns:IDataCommandService_AddDeansOffice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/AddDeansOfficeResponse" message="tns:IDataCommandService_AddDeansOffice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLibrary">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/AddLibrary" message="tns:IDataCommandService_AddLibrary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/AddLibraryResponse" message="tns:IDataCommandService_AddLibrary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/AddMessage" message="tns:IDataCommandService_AddMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/AddMessageResponse" message="tns:IDataCommandService_AddMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/AddEvent" message="tns:IDataCommandService_AddEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/AddEventResponse" message="tns:IDataCommandService_AddEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUnit">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/AddUnit" message="tns:IDataCommandService_AddUnit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/AddUnitResponse" message="tns:IDataCommandService_AddUnit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataCommandService/AddUser" message="tns:IDataCommandService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataCommandService/AddUserResponse" message="tns:IDataCommandService_AddUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataCommandService" type="tns:IDataCommandService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDeansOffice">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/AddDeansOffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLibrary">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/AddLibrary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/AddMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/AddEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUnit">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/AddUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IDataCommandService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataCommandService">
    <wsdl:port name="BasicHttpBinding_IDataCommandService" binding="tns:BasicHttpBinding_IDataCommandService">
      <soap:address location="http://zedd.azurewebsites.net/DataCommandService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>