WebApp_views/ProjektGlowny/Service References/DataCommandService/DataCommandService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Zedd.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Zedd.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Departments">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeansOffices" nillable="true" type="tns:ArrayOfDeansOffices" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Departments" nillable="true" type="tns:Departments" />
  <xs:complexType name="ArrayOfDeansOffices">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeansOffices" nillable="true" type="tns:DeansOffices" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeansOffices" nillable="true" type="tns:ArrayOfDeansOffices" />
  <xs:complexType name="DeansOffices">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:Departments" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OpeningHours" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeansOffices" nillable="true" type="tns:DeansOffices" />
</xs:schema>